spring:
  jpa:
    hibernate:
      ddl-auto: update   # For prototype; in real world use migrations
    show-sql: true

  datasource:
    url: jdbc:h2:file:./data/jobsdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
